* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    height: 100vh;
    width: auto;
    border: 2px solid red;
}

nav {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    align-items: center;
    padding: 10px 30px;
}

nav a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    padding-top: 10px;
}

.nav-pages {
    border-right: 1px black solid;
}
.nav-pages a {
    padding-right: 30px; 
}

.nav-socials {
    padding-left: 30px;
}

.nav-socials a {
    padding-right: 20px;
}

.nav-socials img {
    width: 15px;
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-socials img:hover {
    color: yellow;
    font-size: 100px;
}


.hero {
    display: flex;
    align-items: center;
    padding: 120px 100px;
    border: 1px solid red;
}

.hero img {
    border-radius: 50%;
    width: 280px;
}

.hero hr {
    border: 2px solid rgb(196, 39, 65);
    width: 43rem;
    margin-left: 9.3rem ;
    margin-top: 10px;
}

.hero-text {
    border: 1px solid red;
    margin-left: 100px;
    font-size: 80px;
    font-style: normal;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
}

.hero span {
    color: black;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.hero-text p {
    padding-top: 20px;
    font-size:20px;
    padding-left: 20%;
    font-weight: 100;
    color: rgb(114, 114, 114);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.portfolio {
    height: 100vh;
    width: auto;
    border: 2px solid red;
}